<div class="main-wrapper ">
  <div class="d-flex flex-column">
    <div class="p-2 text-center mb-2 mt-2"><h4> {{ title }} </h4></div>
    <div>
      <app-eurostatgraph></app-eurostatgraph>
    </div>
  </div>
</div>
