.chart {
  height: calc(100vh - 150px);
}
.menu .ng-select{
  width: 100px;
}
.title{
  font-size: 20px

}
.errorbg {
  background-color:#EFEFEF;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  z-index: 10;
}
.errormsg{
  z-index: 100;
  position: fixed;
  text-align: center;
  font-size: 24px;
  top: 30%;
  width: 100%;
  font-weight: bold;
}
.errormsg span {
  background: #EFEFEF;
}
