
<div class="errormsg" *ngIf="errorOccured"><span> {{ errorMsg }}</span></div>
<div class="errorbg"  *ngIf="errorOccured"></div>
<div>
  <div class="menu d-flex pb-3 justify-content-center align-items-center">
    <div class="p-1 title font-weight-bol">Declarant</div>
    <div class="p-1">
      <ng-select [items]="declarants"
                 [(ngModel)]="declarant"
                 placeholder=" trololo"
                 [clearable]=false
                 (change)="declarntChangeHandler()">
      </ng-select>
    </div>
    <div class="pl-3 title">Trade Type</div>
    <div class="p-1">
      <ng-select [items]="[{name:'Import', value:'I'}, {name:'Export', value:'E'}]"
                 [(ngModel)]="tradeType"
                 bindLabel="name"
                 bindValue="value"
                 placeholder="Import / Export"
                 [clearable]=false
                 (change)="declarntChangeHandler()">

      </ng-select>
    </div>
  </div>
  <div echarts [options]="chartOption" class="chart"></div>
</div>




